*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: center;
}
.flex{ display: flex; }
.upload{ width:300px; margin:0 auto; }

.wrapper{
    margin-top:50px;
    width:800px
}

.pdf-viewer{
    display: flex;
    background-color: black;
    width:50%;
    height:200px;
}

.result-viewer{
    display: flex;
    background-color: red;
    width:50%;
    height:200px;
}