*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: center;
}
.flex{ display: flex; }
.upload{ width:300px; margin:0 auto; }

.wrapper{
    margin-top:50px;
    width:1500px;
}

.viewer-wrapper{
    border:1px solid black;
    height:600px;
    border-radius: 10px;
}
.pdf-viewer{
    display: flex;
    background-color: black;
    margin:10px;
    width:50%;
}

.result-viewer{
    display: flex;
    background-color: red;
    margin:10px;
    width:50%;
}